.project-entry{
    background-color: #060606;
    color:#fff;
    font-size: 1.2rem;
    position: fixed;
    top:0;
    bottom: 0;
    right:0;
    left:calc(35% + 78px)
}

.entry-title{
    position: relative;
    top:20%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.entry-text{
    position: relative;
    top:25%;
    padding-right: 5em;
    padding-left:5em ;
}

.entry-button-wrapper{
    text-align: center;
    top:40%;
    position: relative;
    vertical-align: middle;
}
.entry-button button{
    background-color: #060606;
    border:solid 1px #fff;
    color:#fff !important;
    font-size: 1.3rem;
    padding: 40px 75px;
    text-decoration: none;
    display: inline-block;
}
