.home {
    background-image: url(../../image/home.jpg);
    height: 100%;
    width: calc(100% - 78px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: fixed;
    left: 78px;
    bottom: 0;
    top:0;
    display: inline-block;
}
.home-image{

}
.projectName{
    font-size: 3.5em;
    color: #222a35;
    vertical-align: middle;
    top:40%;
    position: relative;
    line-height: normal;
    overflow: hidden;
}
