.projectView{
    height: 100%;
    width: calc(100% - 78px);
    display: inline-block;
}

.projectView::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.project-menu{
    background-color: #393939;
    height: 100%;
    width: 350px;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 78px;
    bottom: 0;
}

.project-content{
    width:calc(100% - 350px);
    margin-left: 350px;
    display: inline-block;
    height: auto !important;
}

.target {
    height:1000px;
}

